.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileImg {
  width: 400px;
  height: 300px;
}

.featureImg {
  width: 100px;
  height: 100px;
}
