/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* 기본값은 모바일로 설정 */
.HomePageMainContentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 테블릿 (768px 이상) */
@media (min-width: 768px) {
  .HomePageMainContentsContainer {
    display: flex;
    flex-direction: row;
  }
}

/* 데스크탑 (1025px 이상) */
@media (min-width: 1025px) {
  .HomePageMainContentsContainer {
    display: flex;
    flex-direction: row;
  }
}
