/* 기본값은 모바일로 설정 */

header {
  border-bottom: 1px solid black;
}

.homePageMainContentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePageMainContentsDesc {
  font-size: 35px;
}

.tmpText {
  display: block;
  font-size: 30px;
  text-align: center;
}

/* 테블릿 (768px 이상) */
@media (min-width: 768px) {
  .homePageMainContentsContainer {
    flex-direction: row;
  }
}

/* 데스크탑 (1025px 이상) */
@media (min-width: 1025px) {
  .homePageMainContentsContainer {
    flex-direction: row;
  }
}
